{% extends 'layout/base.html' %}

{% load staticfiles %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/lobibox.css' %}">
	<script src="{% static 'js/detail.js' %}"></script>
	<script src="{% static 'js/lobibox.js' %}"></script>
	<script>
		$(document).ready(function (){
			var timeoutid = 0;
			var value = "";
			// Evento pendiente del teclado/pistola lectora del codigo de barras
			$(document).keypress(function(e) {
				// Si se esta presionando solo teclas numericas, guarda hasta llegar a un tope maximo de 8 caracteres (numero maximo del codigo del alumno)
				var intRegex = /^\d+$/;
				code = String.fromCharCode(e.which);
				if(intRegex.test(code)){
					value = value + String.fromCharCode(e.which);
				}
				if(value.length == 8){
					// Si el maximo de numero digitados es 8, envia los valores digitados a send_data y vacia la variable que contiene el codigo del alumno
					send_data(value);
					value = "";
				}
			});
			// Evento del boton para enviar el codigo ingresado en el input text
			$('.send').click(function(e) {
				e.preventDefault();
				var val = $('#calum').val();
				if(val != ""){
					send_data(val);
				}
			});
			// Funcion de envio del codigo del alumno
			function send_data(value){
				// Realiza la peticion ajax, enviando el codigo tomado del alumno
				$.get("Alumnos/mark-access/"+value, function(value){
					// Vacia el input text
					$('#dataAlum').empty();
					if(value.type == 'success'){
						$('#dataAlum').append(
							'<div style="text-align: left; width: 50%; display: inline-block; padding: 10px;">'+
								'<p><strong>Nombre:</strong> '+value.apellido+' '+value.nombre+'</p>'+
								'<p><strong>Código:</strong> '+value.calum+'</p>'+
							'</div>'
						);
					}
					Lobibox.notify(value.type, {
						title: value.title,
						msg: value.message,
						sound: false,
					});
					$('#calum').val('');
				});
			}
		});
	</script>
{% endblock content_head %}

{% block content %}
	<section class="sectionForm" style="text-align: center;">
		<section class="headerForm">
			<legend class="titleForm">
				Control de Acceso
			</legend>
		</section>
		<h2>Escanee el código con la lectora de código de barras para buscar el alumno</h2>
		<img src="{% static 'img/separator.png' %}" style="width: 40%; height: auto; padding-top: 20px;">
		<h3>Ó escriba el código del alumno</h3>
		<div class="form_new">
			<input type="text" name="calum" maxlength="10" placeholder="Ingrese el Código del Alumno" id="calum">
			<a href="#" class="btn btn-accept send">Buscar Alumno</a>
		</div>
		<section id="dataAlum"></section>
	</section>
{% endblock content %}