{% extends 'layout/base.html' %}

{% load staticfiles %}

{% block content_head %}
	<link rel="stylesheet" href="{% static 'css/lobibox.css' %}">
	<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
	<script src="{% static 'js/detail.js' %}"></script>
	<script src="{% static 'js/lobibox.js' %}"></script>
	<script src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script>
		$(document).ready(function (){
			$('#sync_access').click(function(){
				var asis = 'false';
				Lobibox.alert('info', {
					title: "Alerta",
					msg: "¿A quien desea enviar los correos? <form class='form_new'><input type='radio' name='send-email' id='asis' value='true'/><label for='asis'>Acudientes de alumnos que asistieron</label><br><input type='radio' name='send-email' id='asis-no' value='false'/><label for='asis-no'>Acudientes de alumnos de no asistieron</label></form>",
					buttons:{
						yes: {
							'text': 'Aceptar'
						},
						cancel: {
							'text': 'Cancelar'
						}
					},
					callback: function(lobibox, type){
						var send_email = $('input[name="send-email"]:checked').val();
						if(type != 'cancel'){
							if(type == 'yes'){
								if(send_email != null){
									sync_access(send_email);
								}else{
									notify('error', 'Alerta', 'Seleccione una opción');
								}
							}
						}else{
							notify('error', 'Alerta', 'Cancelado por el usuario');
						}
					}
				});
				return false;
			});
			function sync_alum(href, con){
				$.ajax({
					url: href,
					data: {'confirm': con},
					type: 'POST',
					beforeSend: function(){
						$('.loading').empty();
						$('.loading').append(load_event);
					},
					success: function(value){
						$('.loading').empty();
						if(value.state == 'state'){
							$('.loading').append(
								'<p><strong>Total alumnos sincronizados: </strong>'+value.totalum+'</p>'+
								'<p><strong>Total alumnos nuevos: </strong>'+value.newalum+'</p>'+
								'<p><strong>Total alumnos actualizados: </strong>'+value.upalum+'</p>'
							);
						}
						notify(value.type, value.title, value.message);
					}
				});
			}
			$('.sync').click(function() {
				var href = $(this).attr('href');
				Lobibox.alert('info', {
					title: "Alerta",
					msg: "¿Desea actualizar todos los alumnos? <form class='form_new'><input type='radio' name='upd-sync' id='update' value='true'/><label for='update'>Actualizar alumnos</label>  <input type='radio' name='upd-sync' id='sync' value='false'/><label for='sync'>Solo sincronizar</label></form>",
					buttons:{
						yes: {
							'text': 'Aceptar'
						},
						cancel: {
							'text': 'Cancelar'
						}
					},
					callback: function(lobibox, type){
						var upd = $('input[name="upd-sync"]:checked').val();
						if(type != 'cancel'){
							if(type == 'yes'){
								if(upd != null){
									sync_alum(href, upd);
								}else{
									notify('error', 'Alerta', 'Seleccione una opción');
								}
							}
						}else{
							notify('error', 'Alerta', 'Cancelado por el usuario');
						}
					}
				});
				return false;
			});
		});
	</script>
{% endblock content_head %}

{% block content %}
	<section class="sectionForm" style="text-align: center;">
		<section class="headerForm">
			<legend class="titleForm">
				Sincronización
			</legend>
		</section>
		<h2>Seleccione una opción</h2>
		<img src="{% static 'img/separator.png' %}" style="width: 40%; height: auto; padding-top: 20px;">
		<div class="form_new">
			<a href="{% url 'sync_alum' %}" class="btn btn-accept sync">Sincronizar Alumnos</a>
			<a href="#" class="btn btn-accept" id="sync_access">Sincronizar Ingreso/Salida</a>
		</div>
	</section>
{% endblock content %}