{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SiacolWeb</title>
	<link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/siacol_web_2016.css' %}">
	<link rel="stylesheet" href="{% static 'css/style2015.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
	<link rel="stylesheet" href="{% static 'css/forms.css' %}">
	<link rel="stylesheet" href="{% static 'css/menu.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script>
		$(document).ready(function (){
			$('.sync').click(function(e) {
				$('.loading').append(
					'<img src="/static/img/loading.gif"/>'+
					'<h3>Sincronizando, por favor espere</h3>'
				);
				$.ajax({
					url: $(this).attr('href'),
					success: function(value){
						$('.loading').empty();
							Lobibox.notify(value.type, {
								title: value.title,
								msg: value.message,
								sound: false,
						});
					}
				});
				e.preventDefault();
			});
		});
	</script>
	{% block content_head %}
	{% endblock content_head %}
</head>
<body>
	<div class="content-width">
		<div class="dashboard">
			{% include 'elements/menu.html' %}
			<div id="content">
				{% block content %}{% endblock content %}
			</div>
			<div class="loading" style="text-align: center"></div>
		</div>
	</div>
</body>
</html>